<link rel="stylesheet" href="/style.css" />
<div class="dialog">
  <h3>Client</h3>
  <div><strong>FPS:</strong> <span id="fps-label"></span></div>
  <div><strong>Entities:</strong> <span id="entities-label"></span></div>
  <div><strong>Listeners:</strong> <span id="listeners-label"></span></div>
  <div><strong>Ping:</strong> <span id="ping-label"></span></div>
  <h3>Server</h3>
  <div><strong>TPS:</strong> <span id="server-tps-label"></span></div>
  <div><strong>Entities:</strong> <span id="server-entities-label"></span></div>
  <div>
    <strong>Listeners:</strong> <span id="server-listeners-label"></span>
  </div>
</div>