<link rel="stylesheet" href="/style.css" />
<style>
  #messages {
    height: 22vh;
    width: 22vw;
    min-width: 400px;
    min-height: 200px;
    word-wrap: break-word;
    overflow-y: auto;
  }

  #chat-form {
    display: flex;
  }

  #chat-input {
    flex-grow: 1;
    visibility: visible;
    pointer-events: auto;
  }

  #container {
    visibility: hidden;
    pointer-events: none;
  }
</style>
<div id="container" class="dialog col chat-component">
  <div id="messages"></div>
  <form autocomplete="off" id="chat-form">
    <input id="chat-input" type="text" placeholder="Enter message..." />
  </form>
</div>